/********************************************************************************
    Style to control selector pages, UI pages, key stat reports, tables & buttons
*********************************************************************************
    Created:    19-May-2017, 10:27:42
    Author:     Michael Cunningham
    Updated:    14-July-2017, 10:27:42  
********************************************************************************/

/* START SELECTOR PAGE */
.container{
    width: 100%;
    height: auto;
}
.row{
    margin:10px
}
.button1 {
    border-radius: 4px;
    background-color: #FF0000;
    border-radius:2em;
    border: none;
    color: #FFFFFF;
    text-align: center;
    vertical-align: center;
    font-size: 18px;
    padding: 20px;
    width: 49%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight:bold;
}
.button1:hover{
    background-color: #E95D0E
}
.button1:active{
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
h1{
    color:#004063;
    padding:30px 0px;
    clear:both;
    border-top:2px #E95D0E solid;
    border-bottom:2px #0B6D52 solid;
}
h2{
    color:#004063;
    padding:10px 0px;
    clear:both;
    border-top:2px #E95D0E solid;
    border-bottom:2px #2E4660 solid;
}
.enablefield{
    background-color: #0B6D52;
}
.disablefield{
    background-color: #ff0000;
}
/*END SELECTOR PAGE*/

/*********************************************************************************/
/*START UI PAGE*/
 a img:hover{ 
    position: relative; 
    top: -5px;
} 
.head1{
    font-size:1.3em;
    text-transform: uppercase;
    color:#666666;
    text-align: center
}
.div1 table{
    margin: 0 auto;
}
.div1 table tr td.td1{
    text-align:center;
    padding:20px

}
/*END UI PAGE*/
/*********************************************************************************/
/*START LANDING PAGE*/
.table1,.table2{
    width:100%;
}
.tr1 td{background-color: #666666;
    color: #ffffff;
    font-weight:bold;
    border-top:2px black solid;
    border-bottom:2px black solid;

}
/* provide some minimal visual accomodation for IE8 and below */
.table1 tr th{
    background-color: #E82833;
    color: #ffffff;	
    padding:5px;
    text-align:center
}
.table1 tr td{
    text-align:center;
    padding:5px 0px
}
/*  Define the background color for all the ODD background rows  */
.table1 tr:nth-child(odd){ 
    background-color: #F2F2F2;
    color: #646965
}
/*  Define the background color for all the EVEN background rows  */
.table1 tr:nth-child(even){
    background-color: #ffffff;
    color: #646965				
}
h3.headstyle1{font-size:1.2em;text-transform: uppercase;color:#666666}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
/*END LANDING PAGE*/
/*********************************************************************************/
ul.crumbs{   
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    margin-bottom:20px;
    font-weight:bold
}
ul.crumbs li {
    display: inline;
    color: red;
}
ul.crumbs li+li:before {
    content:"/\00a0";
    padding: 8px;
    color: black;
}
ul.crumbs li a {
    color: #004063;
    text-decoration: none;
}
ul.crumbs li a:hover {
    color: #E95D0E;
    text-decoration: underline;
}

.position {
    margin:0px 0px 10px 0px
}
/*********************************************************************************/
/*Progress Bars*/
/*********************************************************************************/
.progress-bar {
  position: relative;
  height: 100px;
  width: 100px;

}

.progress-bar div {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.progress-bar div span { /* rotating bit*/
  position: absolute;
  font-family: Arial;
  font-size: 25px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

.progress-bar .background { background-color: #b3cef6; }

.progress-bar .rotate {
  clip: rect(0 50px 100px 0);
  background-color: #4b86db;
}

.progress-bar .left {
  clip: rect(0 50px 100px 0);
  opacity: 1;
  background-color: #b3cef6;
}

.progress-bar .right {
  clip: rect(0 50px 100px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}
 @keyframes 
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}